
@media only screen and (min-width: 768px) {
    .temple-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }
    .nav {
        display: flex;
      }
    
      .hamburger {
        display: none;
      }
  }
  

  @media only screen and (max-width: 767px) {
    .header{
        display: grid;
        grid-template-columns: auto 2fr 40px;
    }
    .temple-grid {
      display: flex;
      flex-direction: column; 
    }
    .temple-figure {
      margin-bottom: 20px; 
    }
    .nav {
        grid-column: 2/3;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav.active {
    display: flex;
  }

  .hamburger {
    display: block;
    grid-column: 3/4;
  }
  .title.hidden-mobile {
    display: none;
}
  }
  